/* https://fonts.google.com/specimen/Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.logo{
    font-family: 'Roboto Slab', serif; 
    letter-spacing: -1px;
}
html,
body {
    font-family: 'Roboto', sans-serif;
}


.fw-500 {
    font-weight: 500 !important;
}

.infscroll h1{
    font-size:  22px;
    letter-spacing: -0.6px;

}

@media only screen and (max-width: 768px){/*below Medium Break Point*/
    .infscroll h1{
        font-size:  15px;
        letter-spacing: -0.0px;
    }

    .infscroll-author
    .infscroll-date {
        font-size: 8px;
        
    }
} 
